# Python/Django
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Django stuff
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.swp
media/

# VSCode settings
.vscode/

# Environment variables
.env


node_modules/
dist/
build/

C:\Users\james\Desktop\nology\personal-upskilling\the-quiet-loud\backend\ml_model\example_loading_model.py